<div class="section">
  <h2><%= t(".trial_details") %></h2>
  <table class="tables">
    <tr>
      <td>
        <div class="tooltip-item">
          <div class="tooltip">
            <p>This <b>trial id</b> was obtained from
              ClinicalTrials.gov, a service of the U.S. National Institutes of Health,
              providing information on publicly and privately supported clinical studies
              of human participants with locations in all 50 States and in 196 countries.
          </div>
        </div>
        <%= t(".trial_id") %>
      </td>
      <td>
        <%= link_to trial.nct_id, trial.nct_website %>
      </td>
    </tr>
    <tr>
      <td>
        <div class="tooltip-item">
          <div class="tooltip">
            <p><b>Phase 0:</b> Exploratory study involving very limited human exposure to the drug to determine whether a drug is modulating its target.</p>
            <p><b>Phase 1:</b> Studies that emphasize safety and how the drug is metabolized and excreted in humans.</p>
            <p><b>Phase 2:</b> Studies that gather preliminary data on effectiveness (whether the drug works in people who have a certain disease or condition) and additional safety data.</p>
            <p><b>Phase 3:</b> Studies that gather more information about safety and effectiveness by studying different populations and different dosages and by using the drug in combination with other drugs.</p>
            <p><b>Phase 4:</b> Studies occurring after FDA has approved a drug for marketing, efficacy, or optimal use.</p>
          </div>
        </div>
        <%= t(".phase") %>
      </td>
      <td>
        <%= trial.phase %>
      </td>
    </tr>
    <tr>
      <td>
        <div class="tooltip-item">
          <div class="tooltip">
            <p>The sponsor is the organization or person who oversees the clinical study and is responsible for analyzing the study data.</p>
          </div>
        </div>
        <%= t(".sponsor") %>
      </td>
      <td>
        <%= trial.sponsor %>
      </td>
    </tr>
    <tr>
      <td>
        <div class="tooltip-item">
          <div class="tooltip">
            <p>Category of organization(s) involved as sponsor (and collaborator) supporting the trial.</p>
          </div>
        </div>
        <%= t(".agency") %>
      </td>
      <td>
        <%= trial.agency_class %>
      </td>
    </tr>
    <tr>
      <td>
        <%= t(".status") %>
      </td>
      <td>
        <%= trial.overall_status %>
      </td>
    </tr>
    <tr>
      <td>
        <%= t(".countries") %>
      </td>
      <td>
        <%= trial.countries.join(", ") %>
      </td>
    </tr>
    <% if trial.link_url.present? %>
      <tr>
        <td>
          <%= t(".website") %>
        </td>
        <td>
          <%= link_to t(".view_website"), trial.link_url, target: "_blank" %>
        </td>
      </tr>
    <% end %>
  </table>
  <% if trial.detailed_description_as_markup.present? %>
    <div class="expander border">
      <div class="js-expander-trigger expander-trigger expander-hidden" data-expand-item="Additional Details"><%= t(".additional_details") %></div>
      <div class="expander-content formatted-text">
        <p><%= raw(trial.detailed_description_as_markup) %></p>
      </div>
    </div>
  <% end %>
</div>
