<div class="section">
  <h2><%= t(".criteria") %></h2>
  <table class="tables">
    <tbody>
      <tr>
        <td>
          <div class="tooltip-item">
            <div class="tooltip">
              <p><b>Healthy volunteers</b> are participants who do not have a disease or condition, or related conditions or symptoms</p>
            </div>
          </div>
          <%= t(".accepts_controls") %>
        </td>
        <td>
          <%= trial.healthy_volunteers_as_yes_no %>
        </td>
      </tr>
      <tr>
        <td>
          <div class="tooltip-item">
            <div class="tooltip">
              <p>An <b>interventional clinical study</b> is where participants are assigned to receive one or more interventions (or no intervention) so that researchers can evaluate the effects of the interventions on biomedical or health-related outcomes.
              An <b>observational clinical study</b> is where participants identified as belonging to study groups are assessed for biomedical or health outcomes.</p>
            </div>
          </div>
          <%= t(".study_type") %>
        </td>
        <td>
          <%= trial.study_type %>
        </td>
      </tr>
      <tr>
        <td>
          <%= t(".eligible_ages") %>
        </td>
        <td>
          <%= trial.age_range %>
        </td>
      </tr>
      <tr>
        <td>
          <%= t(".gender") %>
        </td>
        <td>
          <%= trial.gender %>
        </td>
      </tr>
    </tbody>
  </table>
  <% if trial.criteria_as_markup.present? %>
    <div class="expander border">
      <div class="js-expander-trigger expander-trigger expander-hidden" data-expand-item="Additional Criteria"><%= t(".more_criteria") %></div>
      <div class="expander-content formatted-text">
        <p><%= raw(trial.criteria_as_markup) %></p>
      </div>
    </div>
  <% end %>
</div>
