<div class="section">
  <h2><%= t(".criteria") %></h2>
  <table class="tables">
    <tbody>
      <tr>
        <td>
          <%= t(".accepts_controls") %>
        </td>
        <td>
          <%= trial.healthy_volunteers_as_yes_no %>
        </td>
      </tr>
      <tr>
        <td>
          <%= t(".study_type") %>
        </td>
        <td>
          <%= trial.study_type %>
        </td>
      </tr>
      <tr>
        <td>
          <%= t(".eligible_ages") %>
        </td>
        <td>
          <%= trial.age_range %>
        </td>
      </tr>
      <tr>
        <td>
          <%= t(".gender") %>
        </td>
        <td>
          <%= trial.gender %>
        </td>
      </tr>
    </tbody>
  </table>
  <% if trial.criteria_as_markup.present? %>
    <div class="expander border">
      <div class="js-expander-trigger expander-trigger expander-hidden" data-expand-item="Additional Criteria"><%= t(".more_criteria") %></div>
      <div class="expander-content formatted-text">
        <p><%= raw(trial.criteria_as_markup) %></p>
      </div>
    </div>
  <% end %>
</div>
