<div class="trial-sidebar">
  <section class="section">
    <div class="inner-section">
      <h2 style="color:#7BC143;"><%= t(".filters") %></h2>
      <%= simple_form_for @trial_filter_form, url: trials_path, method: :get do |f| %>
        <%= f.input :zip_code, filter_input_default(:zip_code).deep_merge(
          as: :integer,
          input_html: { class: "zip" },
        ) %>

        <%= f.input(
          :distance_radius,
          as: :select,
          collection: distance_radius_options,
          selected: distance_radius_selected_value
        ) %>

        <%= f.input :age, filter_input_default(:age).deep_merge(
          as: :integer,
          input_html: { class: "age" },
        ) %>

        <%= f.input(
          :gender,
          filter_radio_default(:gender).merge(
            as: :radio_buttons,
            collection: ["Male", "Female"]
          )
        ) %>

        <%= f.input(
          :control,
          filter_radio_default(:control).merge(
            as: :radio_buttons,
            collection: control_options,
            label: t("simple_form.labels.trials.index.control"),
          )
        ) %>

        <%= f.input(
          :study_type,
          filter_radio_default(:study_type).merge(
            as: :radio_buttons,
            collection: study_type_options,
            label: t("simple_form.labels.trials.index.study_type"),
          )
        ) %>

        <%= f.input :keyword, filter_input_default(:keyword).merge(
          placeholder: "ex - Glioma, Metastasis"
        ) %>

        <div class="form-actions center">
          <%= f.submit t(".submit"), class: "donate-link btn btn-orange", name: nil %>
        </div>
        <% if filtered_results? %>
          <div class="reset-link center">
            <%= link_to t(".clear_filter"), filters_path, method: :delete %>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</div>
