<h1><%= title %></h1>

<%= render "search_filter" %>

<% if @trials.empty? %>
  <%= render "empty_results" %>
<% else %>

  <%= render "trial_count" %>

  <%= render @trials %>

  <%= render "pagination" %>

  <%= render "clinicaltrials_gov_logo" %>
<% end %>
