<div class="trial-base-container">
  <div class="trial-page">
    <%= render "navigation" %>

    <h2><%= @trial.title %></h2>

    <%= render "study_purpose", trial: @trial %>

    <%= render "recruitment_table", trial: @trial %>

    <%= render "details_table", trial: @trial %>

    <% if @trial.sites.any? %>
      <%= render "contact_trial_team", trial: @trial %>
    <% else %>
      <%= render "contact_overall_contact", trial: @trial %>
    <% end %>
  </div>

  <%= render "trial_sidebar", trial: @trial %>
</div>
