<div class="trial-results">
  <%= render "navigation" %>

  <h1><%= @trial.title %></h1>

  <%= render "study_purpose", trial: @trial %>

  <%= render "recruitment_table", trial: @trial %>

  <%= render "details_table", trial: @trial %>


  <div class="section">
    <h2><%= t(".contact_trial_team") %></h2>
    <p><%= t(".contact_instructions") %></p>

    <%= render @trial.ordered_sites(session[:zip_code_coordinates]) %>
  </div>
</div>

<%= render "trial_sidebar", trial: @trial %>
