<div class="section">
  <h2><%= t(".current_counts") %></h2>
  <p><%= t(".trial_count", count: @last_import.trial_count) %></p>
  <p><%= t(".site_count", count: @last_import.site_count) %></p>
  <p><%= t(".sites_without_coordinates", count: @sites_without_coordinates.count) %></p>
</div>

<div class="section">
  <h2><%= t(".import_status") %></h2>
  <p><%= t(".last_import", time: time_ago_in_words(@last_import.created_at)) %></p>
  <p><%= t(".most_recent_import_html", date: @newest_trial.created_at, trial: @newest_trial.id) %></p>
</div>

<ul>
	<li><%= link_to t(".import_logs"), admin_import_logs_path %></li>
	<li><%= link_to t(".configure_filters"), edit_admin_configuration_path %></li>
</ul>
