<div class="expander border site">
  <div class="js-expander-trigger expander-trigger expander-hidden" data-expand-item="Site" >
    <span class="infographic-item icon-location pull-right">
      <%= distance_from_site(site) %>
    </span>
    <%= "#{site.display_location}" %>
  </div>
  <div class="expander-content site-details">
    <p>
      <b><%= t(".status") %></b>
      <%=  "#{site.status}" %>
    </p>
    <p>
      <b><%= t(".address") %></b>
      <br>
      <%= "#{site.facility}" %>
      <br>
      <%= "#{site.city}, #{site.state}, #{site.zip_code}" %>
    </p>
    <p>
      <b><%= t(".site_contact") %></b>
      <br>
      <%= "#{site.contact_name}" %>
      <br>
      <a href="mailto:<%=  "#{site.contact_email}" %>">
        <%=  "#{site.contact_email}" %></a>
      <%=  "#{site.contact_phone} #{site.contact_phone_ext}" %>
    </p>
  </div>
</div>
